:root {
  --white: #fff;
  --grey: #f3f5fa;
  --darkGrey: #515363;
  --baseTextColor: #070918;
  --baseContrastTextColor: #f3f5fa;
  --baseLinkColor: #5d2c8d;
  --darkColor: #070918;
  --primaryColor: #5d2c8d;
  --secondaryColor: #ffc400;
  --ternaryColor: #b60045;
  --baseFont: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  --headingFont: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  --desktopContainerWidth: 1120px;
}

html {
  font-size: 10px;
  font-family: var(--baseFont);
  color: var(--baseTextColor);
  line-height: 1.4;
}

body {
  background: var(--white);
  font-size: 1.6rem;
}

a,
a:hover,
a:focus {
  color: var(--baseLinkColor);
}

.baseLink {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  display: inline-block;
  padding-bottom: 0.1rem;
  transition: border 100ms;
  color: var(--ternaryColor);
}

.baseLink:hover,
.baseLink:focus {
  opacity: 0.8;
  color: var(--ternaryColor);
  border-color: 1px solid var(--ternaryColor);
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
  font-family: var(--headingFont);
  font-weight: 700;
}

.h1,
h1 {
  font-size: 2.4rem;
}

.h2,
h2 {
  font-size: 2rem;
}

.h3,
h3 {
  font-size: 1.8rem;
}

.text-uppercase {
  text-transform: uppercase;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}

.no-y-overflow {
  overflow-y: hidden;
  touch-action: none;
}
